.date {
    user-select: none;
    width: 100%;
    background: transparent;
    min-height: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    color: var(--color-tertiary-dark);
    letter-spacing: 4px;
    padding: 1rem;
}