<header class="header">
    <img src="../../../assets/images/jot_logo--white.png" alt="Jot logo" class="header__logo">
    <!-- <menu class="header__menu">
        <ul class="header__menu__list">
            <li class="header__menu__list__item"><a href="#">ONE</a></li>
            <li class="header__menu__list__item"><a href="#">TWO</a></li>
            <li class="header__menu__list__item"><a href="#">THREE</a></li>
            <li class="header__menu__list__item"><a href="#">FOUR</a></li>
        </ul>
    </menu> -->
</header>