:root {
    --color-primary: #dfd3c3;
    --color-primary-trans: #dfd3c3be;
    --color-primary-light: #f0ece2;
    --color-primary-dark: #c7b198;
    --color-primary-dark-trans: #c7b198cb;

    --color-secondary: #596e79;
    --color-secondary-light: #7e95a0;
    --color-secondary-dark: #43535c;
    --color-secondary-dark-trans: #43535cda;

    --color-tertiary: rgb(40, 100, 170);
    --color-tertiary-light: rgb(30, 120, 200);
    --color-tertiary-dark: rgb(50, 90, 140);

    
}