<section class="journal-page">
    <app-date></app-date>
    <form *ngIf="!submissionSuccess" #f="ngForm" (submit)="onFormSubmit(f)">
        <textarea
            required 
            ngControl="journal_title"
            #journal_title="ngModel"
            ngModel
            type="text" 
            name="journal_title" 
            class="journal-page__title"   
            placeholder="Title" 
        autofocus></textarea>
        <textarea
            required
            ngControl="journal_body"
            #journal_body="ngModel"
            ngModel
            contentEditable="true"
            placeholder="Ideas"
            class="journal-page__body" 
            name="journal_body" 
            cols="30" 
            rows="10"></textarea>
        <p *ngIf="f.dirty && !journal_body.valid" class="journal-page__form-message">Give this entry some content to submit.</p>
        <p *ngIf="f.dirty && !journal_title.valid" class="journal-page__form-message">Give this entry a title to submit.</p>
        <button *ngIf="f.valid" type="submit" class="journal-page__submit-btn" >Submit Entry</button>
        
        
    </form>

    <p 
    *ngIf="submissionSuccess"
    class="journal-page__entry-submitted-message">Entry Submitted!</p>


    
</section>
