<button class="menu" (click)="toggleMenu()">
    MENU
</button>


<section *ngIf="this.menuVisible" class="modal-wrapper">
    <nav class="nav-modal">
        <ul class="nav-modal__list" (click)="menuVisible = false">
            <li 
            routerLinkActive routerLink=""
            class="nav-modal__list__items">Home</li>
            
            <li
            *ngIf="!this.isLoggedIn"
            (click)="goToAuth()"
             class="nav-modal__list__items" >Sign In / Sign Up</li>
            
             <li
            *ngIf="this.isLoggedIn"
            (click)="signOut()"
            class="nav-modal__list__items" >Sign Out</li>
            
            <li
            *ngIf="this.isLoggedIn"
            class="nav-modal__list__items"
            routerLink="/entries">Entry Collection</li>
            
        </ul>
    </nav>
</section>
